body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ececec;
}
::placeholder {
  text-align: center;
}
.navDiv {
  width: 100%;
}
.navBar {
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  background-color: #282f44;
  border-bottom: 2px solid #f5d061;
}
.navLinks ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navLinks li {
  list-style: none;
  font-size: 1.2rem;
}
.navLinks li a {
  text-decoration: none;
  color: #ececec;
  padding: 1rem;
  display: block;
}
.navLinks li a:hover {
  color: #e6af2e;
}
.toggleMenu {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 40px;
}
.toggleMenu .bar {
  height: 10px;
  width: 100%;
  background-color: #e6af2e;
  border-radius: 15px;
}
.modalBG {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: none;
}
.modalLogin {
  width: 300px;
  height: 400px;
  background-color: #ececec;
  border: 2px solid #f5d061;
  border-radius: 10px;
  text-align: center;
  position: relative;
  animation-name: modalShow;
  animation-duration: 2s;
}
.modalLogin img {
  margin-top: 30px;
}
.userArea {
  margin-top: 20px;
}
.userArea input {
  font-family: "Raleway", sans-serif;
  color: #282f44;
  width: 65%;
  height: 30px;
  display: block;
  margin: 25px auto;
  border: 1px solid #f5d061;
  border-radius: 5px;
}
.userArea button {
  font-family: "Orbitron", sans-serif;
  color: #f5d061;
  width: 150px;
  height: 35px;
  background-color: #282f44;
  border: 1px solid #e6af2e;
  border-radius: 20px;
  cursor: pointer;
}
.userArea button:hover {
  background-color: #f5d061;
  color: #282f44;
  border: 1px solid #282f44;
}
.userArea a {
  display: block;
  margin-top: 25px;
  text-decoration: none;
  color: #282f44;
}
.userArea a:hover {
  text-shadow: 1px 1px #f5d061;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
@keyframes modalShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 565px) {
  .toggleMenu {
    display: flex;
  }
  .navLinks {
    display: none;
  }
  .navBar {
    flex-direction: column;
  }
  .navBar li a {
    padding: 10px 10px 0;
  }
  .navLinks.active {
    display: flex;
  }
}
@media (max-width: 615px) {
  .navLinks li a {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .navLinks li a {
    font-size: 14px;
  }
}